.masthead {
	//height: 600px;
    //min-height: 600px;
}

.masthead h1 {
	font-family: 'Open Sans';
	font-weight: 800;
	color: rgba(255, 255, 255, 0.7);
	-webkit-text-fill-color: rgba(255, 255, 255, 0.7);
}

.masthead h2 {
	color: rgba(255, 255, 255, 0.7);
}

.masthead .logo {
	height: 85px;
	opacity: 0.7;
}

.lead-section {
	padding-top: 7rem;
	padding-bottom: 5rem;
	background: linear-gradient(to bottom,#161616 0,rgba(22,22,22,.85));
}